@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-white: #ffffff;
    --color-black: #222222;
}

html {
    color: var(--color-black);
    background: linear-gradient(to top, #ffffff 28%, #e8eef4);
    background-attachment: fixed;
}

html.dark {
    color: var(--color-white);
    background: linear-gradient(to top, #161719 28%, #1e2635);
    background-attachment: fixed;
}

body {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* ::-webkit-scrollbar {
    width: 8px;
} */
