@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

html {
    background: linear-gradient(to top, #ffffff 28%, #e8eef4);
    background-attachment: fixed;
}

/* html. {
    display: none;
} */

html.dark {
    background: linear-gradient(to top, #19243b 28%, #0f192d);
    background-attachment: fixed;
}

/* html.dark {
    display: none;
} */

body {
    height: 100vh;
    overflow-y: scroll;
}
